.navbar-container {
  height: var(--nav-height);
  z-index: 10;
  background-color: transparent;
  position: absolute;
  transition: background-color 0.3s ease; // Smooth background transition

  &.sticky {
    position: fixed;
    top: 0;
    background-color: #1b1f23;
    opacity: 0.9;
    animation: navbarStickySlideDown 0.5s ease forwards;
  }

  .navbar-menu-list {
    display: flex; /* Makes <li> elements behave as flex items */
    align-items: stretch; /* Ensures all <li> elements stretch to the full height */
    height: 80px; /* Set the height of the <ul> */
    margin: 0;
    padding: 0;
    list-style: none;

    .nav-menu-header-container {
      height: 100%;
      display: flex;
      align-items: center;
      .nav-menu-header {
        text-transform: uppercase;
        color: #d9d9d9;
        transition: color 0.1s;

        &:hover {
          color: #fff;
        }
        .nav-menu-content {
          font-size: 1rem;
          font-weight: 600;
          text-transform: uppercase;
        }

        .nav-menu-item-link {
          font-size: 1.143rem;
          font-weight: 700;
        }
      }
    }

    .nav-menu-dropdown-content {
      width: max-content;
      text-transform: capitalize;
      background-color: #ffffff80;
      border: none;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: #000;
      }

      .nav-menu-item-link {
        padding: 0.571rem 0;

        & .nav-menu-item-link-content {
          width: fit-content;
          border-bottom: 3px solid transparent;
          transition: 0.3s;
        }

        &:hover {
          & .nav-menu-item-link-content {
            border-color: #f8c307;
          }
        }
      }
    }

    .nav-menu-header-utilities-container {
      height: 100%;
      display: flex;
      align-items: center;
      border-right: 1px solid #fff;

      &:last-child {
        border-right: none;
      }

      .nav-menu-header-utilities {
        text-transform: uppercase;
        color: #d9d9d9;
        transition: color 0.1s;
        padding: 0 1rem;

        &:hover {
          color: #fff;
        }

        .nav-menu-search-content {
          background-color: transparent;
          padding: 0;
          border: none;
          .search-input {
            font-size: 1.143rem;
            background-color: #ffffff80;
            color: #000;
            border: none;
            outline: none;
            box-shadow: none;
            transition: background-color 0.1s;

            &::placeholder {
              color: #000;
            }

            &:hover {
              background-color: #fff;
              color: #000;
            }

            &:focus {
              background-color: #fff;
              color: #000;
            }
          }
        }

        .call-section {
          font-size: 1.571rem;
          font-weight: 700;
        }

        .social-media-container {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          justify-content: center;

          .social-media {
            display: flex;
            flex: 1 1 calc(33.33% - 0.5rem);
            max-width: calc(33.33% - 0.5rem);
            justify-content: center;
            box-sizing: border-box;

            .social-media-wrapper {
              cursor: pointer;
              padding: 0.5rem;
              border-radius: 50%;
              background-color: #ffffff80;
              transition: background-color 0.3s;

              &:hover {
                background-color: #fff;
              }
            }
          }
        }

        .cart-container {
          .cart-trigger-container {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@keyframes navbarStickySlideDown {
  from {
    transform: translateY(-165px); // Start slightly above
  }
  to {
    transform: translateY(0); // End at original position
  }
}
